@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto&display=swap');

@layer base {
  :root {
    --card: hsl(0 0% 100%);
    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);
    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);
    --member: hsl(101, 59%, 51%);
    --moderator: hsl(58, 59%, 51%);
    --admin: hsl(0, 59%, 51%);

    --primary-font-color: hsl(203, 100%, 5%);
    --secondary-font-color: hsl(203, 98%, 21%);

    --primary-border: 2px solid hsl(203, 100%, 5%);
    --primary-box-shadow: 5px 5px 0px hsl(203, 100%, 5%);
    --primary-padding: 2em;
    --secondary-padding: 1em;
    
    --button-box-shadow: 2px 2px 0px hsl(203, 100%, 5%);
    --button-hover-box-shadow: inset 0px 0px 2px hsl(203, 100%, 5%);

    --primary-link: hsl(198, 59%, 51%);
    --primary-link-hover: hsl(198, 59%, 71%);

    --primary-background: #fcffee;
    --secondary-background: #fffaee;
    --tertiary-background: #ffeeee;
    --quaternary-background: #e6f7ff;
    --quinary-background: #fbeeff;

    font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Global Styles */

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: auto;
  font-size: 14px;
  background-color: var(--quinary-background);
}

body#members {
  background-color: var( --secondary-background)
}

body#upload {
  background-color: var(--tertiary-background)
}

body#record {
  background-color: var(--quaternary-background)
}

body#create {
  background-color: var(--quinary-background)
}

main {
  padding: var(--primary-padding);
  max-width: 1440px;
  margin: auto;
}

a {
  color: var(--primary-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-link-hover);
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.hidden {
  display: none;
}

fieldset {
  padding: var(--primary-padding);
  margin: 0;
  margin-bottom: var(--secondary-padding)
}

label {
  margin: .25rem;
  font-size: 1rem;
}

input, textarea {
  margin: .25rem;
  cursor: pointer;
  line-height: 1.5rem;
  border: var(--primary-border);
  background-color: transparent;
  padding: .25rem;
  text-overflow: ellipsis;
}

input[type="submit"] {
  color: var(--accent-foreground);
  border: var(--primary-border);
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none; /* Resets browser styles */
    -webkit-appearance: none; /* For WebKit browsers */
    padding: 0;
    width: 28.25px;
    height: 28.25px;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    padding: 0;
    width: 28.25px;
    height: 28.25px;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
    position: relative;
    left: 2px;
    font-size: 28.25px;
    content: '\2718';
}

input::file-selector-button {
  font-weight: bold;
  color: var(--primary-font-color);
  background-color: var(--primary-background);
  padding: 0.5em;
  border: var(--primary-border);
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
  margin: .25rem 1rem .25rem .25rem;
}


button {
  border: var(--primary-border);
  background-color: var(--primary-background);
  box-shadow: var(--button-box-shadow);
  padding: 0.6em 1.2em;
  cursor: pointer;
  text-wrap: nowrap;
}

button:hover, input::file-selector-button:hover {
  background-color: var(--primary-background);
  transition: all 0.2s ease-in-out;
  box-shadow: var(--button-hover-box-shadow);
  transform: translate(-2px, 2px);
}

button:disabled {
  background-color: var(--muted);
  box-shadow: none;
  transform: none;
  cursor: not-allowed;
}

button a {
  width: 100%;
}

.action-delete {
  color: var(--accent);
  background-color: var(--admin);
}

.action-delete:hover {
  background-color: var(--admin);
}

.action-delete:disabled {
  background-color: var(--muted);
  color: var(--muted-foreground);
  border: 1px solid var(--muted);
}

.action-delete:disabled:hover {
  color: var(--muted-foreground);
  cursor: not-allowed;
}

.action-edit:hover {
  background-color: var(--muted-foreground);
  color: var(--muted);
  border: 1px solid var(--muted-foreground);
}

.toggle-container {
  display: flex;
  align-items: center;
}

legend {
  font-size: 1.25rem;
}

li {
  list-style: none;
}

.link {
  color: var(--primary-link);
  text-decoration: none;
  font-weight: bold;
}

select {
  border: var(--primary-border);
  background-color: var(--primary-background);
  padding: 0.6em 1.2em;
  cursor: pointer;
  text-wrap: nowrap;
}

.member {
  color: var(--member);
}

.moderator {
  color: var(--moderator);
}

.admin {
  color: var(--admin);
}

.card {
  background-color: var(--primary-background);
  border: var(--primary-border);
  box-shadow: var(--primary-box-shadow);
  padding: var(--primary-padding);
}

.internal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label-detail-ul {
  padding: 0;
  width: 100%;
}

.label-detail-ul li {
  width: 100%;
  text-align: left;
  padding: .15rem;
}

.label-detail-ul li:nth-child(even) {
  background-color: var(--quaternary-background);
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: var(--secondary-padding);
}

.table-header-button {
  display: flex;
  justify-content: center;
  gap: 4px;
}

/* Loading Styles */

.loading-message-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #333;
  border-radius: 50%;
  margin: 0 .25rem;
}

@media only screen and (max-width: 720px) {
  #root {
    width: 100%;
  }

  main {
    padding: 0;
  }

  .card {
    box-shadow: none;
    padding: var(--secondary-padding);
  }

  .link {
    overflow-wrap: anywhere;
  }
}
