@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto&display=swap');

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(240 10% 3.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 3.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);
    --primary: hsl(240 5.9% 10%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(240 4.8% 95.9%);
    --secondary-foreground: hsl(240 5.9% 10%);
    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);
    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(240 5.9% 90%);
    --input: hsl(240 5.9% 90%);
    --ring: hsl(240 5.9% 10%);
    --radius: 0.5rem;
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);

    font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Global Styles */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background);
  color: var(--foreground);
}

.container-shadow {
  padding: 1em;
  border-radius: var(--radius);
  background-color: var(--card);
  border: 1px solid var(--border);
}

.required {
  color: var(--destructive);
  font-size: .75rem;
  vertical-align: text-top;
  margin-left: 3px;
}

a {
  color: var(--accent-foreground);
  text-decoration: inherit;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input {
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background-color: var(--card);
  padding: 0.5rem;
}

input[type="submit"], input[type="checkbox"] {
  cursor: pointer;
}

input[type="submit"] {
  background-color: var(--accent);
  color: var(--accent-foreground);
  border: 1px solid var(--accent);
}

button, .nav-login-container {
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background-color: var(--card);
  padding: 0.6em 1.2em;
  cursor: pointer;
}

h3 {
  margin: 0;
}

/* Nav */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nav-links h1{
  font-size: 3.2em;
  line-height: 1.1;
  margin: 1rem 0;
  color: var(--chart-3);
}

@media only screen and (max-width: 600px) {
  .nav-links {
    align-items: center;
  }

  .nav-links h1{
    font-size: 1.5rem;
    margin: .5rem 0;
  }
}

/* Log in */

.nav-login-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  margin-left: 1rem;
}

.nav-login-container a {
  color: var(--secondary-foreground);
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 1rem;
}
/* 
.nav-login-content {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary);
  padding: 0.6em 1.2em;
  border-radius: var(--radius);
} */

.nav-login-content {
  color: var(--muted-foreground);
}

.login-label {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

/* .submit-button {
  border: 1px solid var(--primary);
  padding: 0.6em 1.2em;
  border-radius: var(--radius);
  min-width: 150px;
  cursor: pointer;
} */

/* .logout-button {
  border: 1px solid var(--primary);
  padding: 0.6em 1.2em;
  border-radius: var(--radius);
  background-color: transparent;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
  color: var(--primary);
} */

@media only screen and (max-width: 600px) {

  .nav-login-content {
    font-size: .8rem;
  }
}

/* Record Detail */

.record-detail-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.record-detail-container h3{
  margin-top: 0;
}

.record-detail-container p{
  margin: .3rem;
  text-align: left;
}

/* Record List */
.record-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

th button, th{
  border: none;
  background-color: transparent;
  color: var(--accent-foreground);
  font-size: .8rem;
}

th {
  border: 1px solid var(--border);
}

thead,
tfoot {
  background-color: var(--muted);
  border: 1px solid var(--border);
}

tbody {
  background-color: var(--card);
  
}

table {
  border-radius: var(--radius);
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid var(--border);
  overflow: hidden;
}

table th:not(:last-child),
table td:not(:last-child) {
  border-right: 1px solid var(--border);
}

table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

caption {
  caption-side: bottom;
  padding: 10px;
}

th,
td {
  padding: 1em 1.2em;
}

td {
  text-align: center;
}

.action-container {
  display: flex;
  align-items: center;
}

.action-container *{
  margin: 0 .3rem;
}

/* .login-button {
  border: 1px solid var(--border);
  padding: 0.6em 1.2em;
} */

.action-edit {
  color: var(--secondary-foreground);
  background-color: var(--secondary);
}

.action-delete {
  color: var(--destructive-foreground);
  background-color: var(--destructive);
  border: 1px solid var(--destructive);
}

.approved {
  background-color: var(--chart-2);
}

.pending {
  background-color: var(--chart-4);
}

.hidden-desktop {
  display: none;
}

table a, .record-td-container {
  color: var(--accent);
}


@media only screen and (max-width: 600px) {

  table thead {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
  }
  
  table td {
    display: block;
  }
  
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    border: none;
    padding-bottom: 25px;
  }

  .record-tr-container {
    display: flex;
    flex-wrap: wrap;
  }

  .record-tr-container > *{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .record-list-container {
    align-items: center;
  }

  .action-container {
    flex-direction: column;
  }

  .action-container *{
    margin: 5px 0;
    width: -webkit-fill-available;
  } 

  .hidden-desktop {
    display: block;
  }

  .record-td-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    font-size: 2rem;
  }
  
}

/* Create Record */

.create-record-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.record-form, .login-form {
  width: 100%;
  text-align: left;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-record-form-section {
  padding: 1em;
  border: 1px solid var(--border);
  margin: 1em 0;
  border-radius: var(--radius);
}

.create-record-form-section-title {
  margin-top: 0;
}

.form-input-container {
  margin-bottom: .5em;
}

.form-input-container input[type="text"],
.form-input-container input[type="email"],
.form-input-container input[type="tel"] {
  padding: 0.5rem;
  margin-top: .5rem;
}

.form-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: .5em;

}

.form-input-container label + input {
  vertical-align: super;
}

textarea {
  padding: 0.5rem;
  margin-top: .5rem;
}

.form-input-container input[type="number"] {
  padding: 0.5rem;
  line-height: 1.5rem;
  max-width: 50px;
  margin-top: .5rem;
}

.form-input-container input[type="checkbox"],
.form-input-container input[type="radio"] {
  margin: .5rem 1rem 0 0;
  appearance: none; /* Resets browser styles */
  -webkit-appearance: none; /* For WebKit browsers */
  width: 25px;
  height: 25px;
  border: 1px solid var(--border);
  /* border-radius: 4px; */
  background-color: var(--card);
  cursor: pointer;
}

.form-input-container input[type="checkbox"]:checked,
.form-input-container input[type="radio"]:checked {
  background-color: var(--primary);
  border: 1px solid var(--primary); 
}

@media only screen and (max-width: 600px) {
  .form-input-container {
    font-size: 1.1rem;
    margin: 8px 0;
  }

  .form-input-container input[type="text"],
  .form-input-container input[type="email"],
  .form-input-container input[type="tel"],
  textarea {
    margin-top: 0;
  }
}

/* Confirmation modal */

.confirmation-modal-container {
  display: contents;
}

.confirmation-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-modal {
  background-color: var(--card);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirmation-message {
  margin-bottom: 20px;
  font-size: 16px;
}

.confirmation-buttons {
  display: flex;
  justify-content: space-around;
}
/* 
.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  margin: 0 5px;
} */

/* .confirm-button {
  background-color: var(--chart-2);
  color: var(--card-foreground);
} */

/* .cancel-button {
  background-color: var(--destructive);
  color: var(--destructive-foreground);
} */

/* .confirm-button:hover {
  background-color: var(--chart-3);
} */

/* .cancel-button:hover {
  background-color: var(--chart-1);
} */
