.confirmation-modal-container {
    display: contents;
  }
  
  .confirmation-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
  
  .confirmation-modal {
    background-color: var(--card);
    padding: 20px;
    box-shadow: var(--primary-box-shadow);
    text-align: center;
  }
  
  .confirmation-message {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .confirmation-buttons {
    display: flex;
    justify-content: space-around;
  }