.create-record-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.record-form{
    width: 100%;
    text-align: left;
}

.create-record-form-section {
    padding: var(--secondary-padding);
    border: 1px solid var(--primary-border-color);
}

.form-input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: var(--secondary-padding)
}

.form-radio-container {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}


.form-input-container input[type="checkbox"],
.form-input-container input[type="radio"] {
    appearance: none; /* Resets browser styles */
    -webkit-appearance: none; /* For WebKit browsers */
    padding: 0;
    width: 28.25px;
    height: 28.25px;
}

.form-input-container input[type="checkbox"]:checked,
.form-input-container input[type="radio"]:checked {
    padding: 0;
    width: 28.25px;
    height: 28.25px;
}
.form-input-container input[type="checkbox"]:checked:before,
.form-input-container input[type="radio"]:checked:before {
    position: relative;
    left: 2px;
    font-size: 28.25px;
    content: '\2718';
}

@media only screen and (max-width: 720px) {
    .form-input-container {
        font-size: 1.1rem;
        margin: 8px 0;
    }

    .form-input-container input[type="text"],
    .form-input-container input[type="email"],
    .form-input-container input[type="tel"],
    textarea {
        margin-top: 0;
    }
}