.csv-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.csv-header-container h3{
    margin-bottom: 0;
}

table.csv-table select{
    text-align: center;
}
.csv-upload-container {
    position: relative;
}

.csv-upload-container thead {
    position: relative;
}

.header-td {
    width: 66%;
}

input[type="file"] {
    border: none;
}

.map-field-mobile {
    display: none;
}

.csv-preview h3 {
    margin-top: var(--secondary-padding);
}

.submit-button {
    margin-top: var(--primary-padding);
    color: var(--primary-font-color);
}

.csv-header-mobile {
    display: none;
}

.csv-header-desktop {
    padding: var(--secondary-padding);
}

@media screen and (max-width: 720px) {
    .csv-header-container {
        flex-direction: column;
        padding: var(--secondary-padding);
    }

    .csv-header-container h3{
        font-size: 1.25rem;
    }

    .csv-header-mobile {
        padding: var(--secondary-padding);
    }

    .csv-header-desktop {
        display: none;
    }

    .header-td {
        width: unset;
    }

    table.csv-table {
        width: 100%;
        border-spacing: 1px;
        margin-bottom: var(--secondary-padding);
    }

    table.csv-table td{
        padding: .75em;
    }

    table.csv-table select{
        padding: .3em .6em;
    }

    .map-field-desktop {
        display: none;
    }

    .map-field-mobile {
        display: block;
        margin-bottom: .25rem
    }

    table.csv-table.bottom td {
        display: table-cell;
        padding: 0;
    }

    table.csv-table td input{
        border: none;
        text-align: center;
    }

    .form-fields-hide-button {
        margin-top: var(--secondary-padding);
    }
}