
.login-container h2 {
    text-align: center
}

.login-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: left;
}

.login-label {
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
}
    
    
@media only screen and (max-width: 720px) {

    .login-container {
        display: flex;
        flex-direction: column;
    }

    .login-container button {
        width: 100%;
    }
}