.members-page ul {
    padding: 0;
}

.members-page h3 {
    text-align: left;
    margin: 0 0 0 1rem;
}

.member-page-container {
    display: flex;
}

.add-member-container {
    width: 40%;
}

.member-list-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    padding: var(--secondary-padding)
}

.member-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.member-button-container {
    display: flex;
    gap: 1rem;
    margin-top: var(--secondary-padding);
    align-items: center;
}

.member-container {
    display: flex;
    flex-direction: column;
    padding: var(--secondary-padding);
    border: 1px solid var(--primary-border-color);
    justify-content: center;
}

.admin-label {
    margin-top: 1rem;
}

@media only screen and (max-width: 720px) {
    section h2 {
        text-align: center;
    }

    .member-page-container  {
        flex-direction: column;
    }

    .member-details {
        align-items: center;
    }

    .member-button-container {
        justify-content: center;
    }
}

/* add */

.add-member-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin: 1rem;
    padding: var(--secondary-padding);
    border: 1px solid var(--primary-border-color);
}

.add-member-button {
    width: -webkit-fill-available;
}

@media only screen and (max-width: 720px) {

    .add-member-container {
        width: 100%;
    }

    .add-member {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-member-button {
        margin: 1em;
    }
}

/* edit */

.edit-icon {
    font-size: 4rem;
}

.edit-member-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.edit-member-buttons {
    display: flex;
    gap: 1rem;
    justify-content: start;
    width: 100%;
    margin-top: var(--secondary-padding);
}

.edit-button:disabled {
    color: var(--muted-foreground);
    border: 1px solid var(--muted);
    background-color: var(--muted);
}

.edit-button:disabled:hover {
    transform: none;
    box-shadow: var(--button-box-shadow);
    transition: none;
    cursor: not-allowed;
}

@media only screen and (max-width: 720px) {
    .edit-icon {
        rotate: 90deg;
    }

    .member-list-container {
        flex-direction: column;
        margin: 1rem 0;
    }

    .edit-member-form {
        align-items: center;
    }

    .edit-member-buttons {
        justify-content: center;
    }

    .add-member-form {
        margin: 0;
        border: none;
        width: -webkit-fill-available;
    }
}