.records-container .records-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin: 1em 0;
    width: 100%;
}

.all-record-container {
    margin-bottom: 1em;
}

.all-record-container h4 {
    margin-top: 0;
    font-size: 1rem;
    color: var(--chart-2)
}

.record-header-button-container {
    display: flex;
    width: 25%;
}

.record-header-button-container .records-show-button {
    width: 100%;
}

.records-data-button {
    position: fixed;
    bottom: 1em;
    right: 0;
}

.records-data-button.hidden-download-button {
    display: none;
}

.record-header-button-container:has(.records-show-button.selected) {
    background-color: var(--chart-3);

}
.record-header-button-container:hover, .records-show-button:hover, .records-data-button:hover  {
    background-color: var(--chart-3);
    color: var(--muted);
}

.records-show-button.selected {
    background-color: var(--chart-3);
    color: var(--secondary); 
}

.filter-button.selected {
    background-color: var(--chart-3);
    color: var(--secondary); 
}

.hidden-button {
    display: flex;
}


.filter-buttons-container {
    display: flex;
    gap: .5rem;
    margin-bottom: .5em;
}

.filter-buttons-container > button {
    border-radius: unset;
}


@media only screen and (max-width: 720px) {
    .records-container .records-header {
        flex-wrap: wrap;
        gap: 5px;
    }

    .record-header-button-container {
        flex: auto;
        height: 100%;
    }

    .record-header-button-container .records-data-button, .record-header-button-container .records-show-button {
        font-size: .75rem;
    } 

    .hidden-button {
        display: none;
    }

}

