.record-list-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.record-list-container table{
    display: block
}

.record-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
}

.record-list-header h3{
    margin-bottom: 0;
}

.record-list-header-button-container {
    display: flex;
    gap: .5em;
    align-items: center;
}

caption {
    caption-side: bottom;
    padding: 10px;
}

.action-container {
    display: flex;
    align-items: center;
}

.action-container *{
    margin: 0 .3rem;
}

.record-td-container.name {
    position: sticky;
    left: 0;
    background-color: var(--quaternary-background);
    z-index: 3;
}

.record-td-container.level-Low {
    background-color: var(--chart-2);
    color: var(--accent);
}

.record-td-container.level-Medium {
    background-color: var(--chart-4);
    color: var(--accent);
}

.record-td-container.level-High {
    background-color: var(--chart-1);
    color: var(--accent);
} 

.hidden-desktop {
    display: none;
}

.more-button {
    display: none;
}

.record-tr-container > .hidden-button {
    display: revert;
}

.record-tr-container {
    background-color: var(--primary-background);
}

@media only screen and (max-width: 720px) {

    .record-list-header {
        flex-direction: column;
    }

    table {
        border-spacing: var(--secondary-padding);
    }

    tr {
        border: 1px solid var(--primary-border-color);
    }

    .record-tr-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        border: none;
    }

    th {
        width: -webkit-fill-available;
    }
    
    table td {
        display: block;
    }

    .sort-icon {
        margin-left: .5rem;
    }

    .record-list-container {
        align-items: center;
    }

    .record-tr-container > .hidden-button {
        display: none;
    }

    .record-tr-container > .more-selection.hidden {
        display: none;
    }

    .record-tr-container > .more-selection {
        background-color: var(--secondary);
        left: 0;
        width: 8em;
        height: 100%;
    }

    .action-header-container {
        display: none;
    }

    .action-container {
        flex-direction: column;
    }

    .action-container *{
        margin: 5px 0;
        width: -webkit-fill-available;
    } 

    .more-button {
        display: block;
        position: relative;
    }

    .hidden-desktop {
        display: block;
    }

    .record-td-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}