.records-container .records-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin: 1em 0;
    width: 100%;
}

.record-title {
    text-align: left;
}

.record-header-button-container {
    display: flex;
    width: 25%;
}

.record-header-button-container .records-show-button {
    width: 100%;
}

.records-data-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.records-data-button.hidden-download-button {
    display: none;
}

.record-header-button-container:has(.records-show-button.selected) {
    background-color: var(--tertiary-background);
    box-shadow: none;
}

.record-header-button-container:hover, .records-show-button:hover, .records-data-button:hover  {
    background-color: var(--tertiary-background);
}

.records-show-button.selected {
    background-color: var(--tertiary-background);
    box-shadow: none;
}

.filter-button {
    text-transform: capitalize;
}

.filter-button.selected {
    background-color: var(--tertiary-background);
    box-shadow: none;
}

.hidden-button {
    display: flex;
}

.filter-buttons-container {
    display: flex;
    gap: .5rem;
    margin-bottom: .5em;
}

.filter-buttons-container > button {
    border-radius: unset;
}


@media only screen and (max-width: 720px) {
    .records-container {
        flex-wrap: wrap;
        gap: 5px;
        padding: .5em;
    }

    .records-container .records-header {
        flex-wrap: wrap;
        gap: 5px;
    }

    .record-header-button-container {
        flex: auto;
        height: 100%;
    }

    .record-header-button-container .records-data-button, .record-header-button-container .records-show-button {
        font-size: .75rem;
    } 

    .record-detail-button-container.card {
        margin: 0;
    }

    .hidden-button {
        display: none;
    }
}