.records-container .records-header {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.all-record-container {
    margin-bottom: 1em;
}

.all-record-container h4 {
    margin-top: 0;
    font-size: 1rem;
    color: var(--chart-2)
}

.record-header-button-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.record-header-button-container button {
    border: none;
    background-color: transparent;
    border-radius: 0;
}

.record-header-button-container button:hover {
    background-color: var(--muted-foreground);
    color: var(--muted);
}

.record-header-button-container .records-show-button {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.record-header-button-container .records-data-button {
    border-top: 1px solid var(--border);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
} 

.records-show-button.selected {
    background-color: var(--chart-3);
    color: var(--secondary); 
}

.more-button-container {
    position: relative;
    display: flex;
}

.more-button {
    display: none;
}

.hidden-group {
    display: none;
}

.hidden-button {
    display: flex;
}



@media only screen and (max-width: 720px) {
    .records-container .records-header {
        flex-wrap: wrap;
        gap: 5px;
    }

    .record-header-button-container {
        flex: 1;
        height: 100%;
    }

    .record-header-button-container .records-data-button, .record-header-button-container .records-show-button {
        font-size: .75rem;
    } 

    .hidden-button {
        display: none;
    }

    .more-button {
        display: table;
    }

    .more-selection.hidden {
        display: none;
    }

    .more-button-container > .more-selection {
        background-color: var(--secondary);
        left: 0;
        width: 8em;
    }
    
    .record-header-button-container button {
        background-color: var(--secondary);
    }

}