table {
    position: relative;
    width: 100%;
    display: block;
    overflow: auto;
    scrollbar-color: var(--primary-background)  var(--accent-foreground);
    scrollbar-width: thin;
    border: var(--primary-border);
}

th {
    text-align: center;
    border: var(--primary-border);
}

th button {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}

th button:hover {
    background-color: var(--primary-background);
    transition: none;
    box-shadow: none;
    transform: none;
}

tr:nth-child(even) td{
    background-color: var(--quinary-background);
}

td {
    text-align: center;
    padding: var(--secondary-padding);
    border: var(--primary-border);
    background-color: var(--primary-background)
}

@media only screen and (max-width: 720px) {
    table {
        border: none
    }
}